page-home {
.bg{
    background: gray;
    color: white;
}
tr:nth-of-type(even) {
  
    background: gray;
    color: white;
  
}
th{
    width: 80px;
}




}
ion-content::-webkit-scrollbar-thumb {
background-color: darkgrey;
outline: 1px solid red;
}